/* 
    Created on : 14-apr-2015
    Author     : glenn
*/

html {
  position: relative;
  min-height: 100%;
}
    body {
        font-family: omnesregular;
        margin-bottom: 40px;

    }
 h2.pane-title{font-family:"omnessemibold"; font-size: 20pt ;color:#f7942f !important;}    
header {
    font-family: omnesregular;
    text-align: left;
    color: #fff;
    background: #FFC421;
}

header .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
       margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.liquid-round {
border: 1px solid #FFC421;
padding: 60px 0;
text-align: center;
width: 250px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background: #ffff;
padding-bottom: 20px;
}  

@media(min-width:768px) {
    header .container {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }

} 

.row .thumbnail {
    border-color: #FFC421;
    min-height: 200px;
    text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .text-muted {
  text-align: center;
  margin: 20px 0;
}