/* 
    Created on : 14-apr-2015
    Author     : glenn
*/

html {
  position: relative;
  min-height: 100%;
}
    body {
font-family: "BreuerTextRegular"; color: #58595b; margin: 0; font-size: 14px; line-height: 18px;

    }
 h2.pane-title{font-family:"omnessemibold"; font-size: 20pt ;color:#f7942f !important;}    
header {
    font-family: omnessemibold;
    text-align: left;
    color: #fff;
    background: #FFC421;
}

header .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
       margin: 0 auto 20px;
}

header a {
    font-family: omnesextralight;
       color: #fff;
}

header a:hover {
       color: #fff;
}
header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.page-header {margin-top: -10px;}


/* tab color */
.nav-tabs>li>a {
  background-color: #fff; 
  border-color: #ffd100;
  color:#000;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #ffd100;
  border: 1px solid #ffd100;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #ffd100;
  background-color: #fefefe;
}

.liquid-round {
border: 1px solid #FFC421;
padding: 60px 0;
text-align: center;
width: 250px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background: #ffff;
padding-bottom: 20px;
}  

@media(min-width:768px) {
    header .container {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }

} 

.row .thumbnail {
    border-color: #FFC421;
    min-height: 200px;
    text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .text-muted {
  text-align: center;
  margin: 20px 0;
}


view-content,#block-views-categoryblocks_nodes-block_2 .view-categoryblocks-nodes .view-content,#block-views-categoryblocks_nodes-block_3 .view-categoryblocks-nodes .view-content
{font-size:20px;}
.view-top10 .view-content ol,#block-views-categoryblocks_nodes-block_2 .view-categoryblocks-nodes .view-content ul,#block-views-categoryblocks_nodes-block_3 .view-categoryblocks-nodes .view-content ul{list-style-type:none;padding-left:0;}
.view-top10 .view-content .views-row,#block-views-categoryblocks_nodes-block_2 .view-categoryblocks-nodes .view-content .views-row,#block-views-categoryblocks_nodes-block_3 .view-categoryblocks-nodes .view-content .views-row
{background-color:#f6f7f8;border-radius:10px;padding:16px 26px;margin-bottom:10px;list-style-type:none;background-image:none;}